includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    parallel:
        maximumNumberOfProcesses: 1
    tmpDir: /tmp/phpstan
    paths:
        - app/
    level: 5
    excludePaths:
        - app/Infrastructure/.gitkeep
        - app/Domain/.gitkeep
        - app/Application/.gitkeep
